#sidebar.sidebarHidden .gutter {
  display: none;
}
#sidebar .gutter {
  grid-column: 2;
  overflow: auto;
}
#sidebar {
  position: fixed;
  right: 0;
  top: 10vmin;
  bottom: 0;
  display: grid;
  width: auto;
  min-width: unset;
  max-width: min(90vw, 370px);
}
#accountBtn {
  background-image: none;
}
#toggleSidebar {
  grid-column: 1;
  width: 1.5rem;
  padding: 0;
  background: linear-gradient(#56849b, lightblue);
}
#content {
  width: calc(100% - 1.5rem);
  margin-top: 10vmin;
}
#wrap {
  max-width: unset;
  min-width: unset;
}
.bannerimage {
  display: none;
}
#header {
  display: none;
}
#searchtabs {
  position: inherit;
}
#mobileHeader {
  width: 100%;
  position: fixed;
  background-color: #56849b;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 5;
}
#mobileNav.navHidden li {
  display: none;
}
#mobileHeader ul {
  margin-block: 0;
  list-style: none;
  padding-inline: 0;
  text-align: center;
}
#mobileHeader ul li {
  margin: 10px;
}
#mobileHeader ul li a {
  display: block;
  padding: 3vmin;
  color: #333;
  text-decoration: none;
  border: 1px outset #ccc;
  background: #f9e9a9 url(/images/blue.gif) repeat-x top left;
}
#mobileHeader ul li a:hover {
  color: #333;
  border-color: #ccc;
  background: #fff url(/images/yellow.gif) repeat-x top left;
}
#mobileLogo,
#mobileProfile img,
#mobileNavBtn img {
  max-width: 100%;
  max-height: 100%;
  height: 10vmin;
}
#mobileProfile {
  float: right;
  margin-right: 10px;
  padding: 0;
}
#mobileNavBtn {
  margin-left: 10px;
  margin-right: calc(50% - 15vmin - 10px);
  padding: 0;
}
#mobileHeader button {
  color: #333;
  text-decoration: none;
  border: 1px outset #ccc;
  background: #f9e9a9 url(/images/blue.gif) repeat-x top left;
}
#AccountActions.profileHidden > li {
  display: none;
}
#search_addresstextbox {
  position: relative;
}
#search_options{
  left: unset;
}
.home-banner {
  display: none;
}
#pushwrapper {
  min-width: unset;
}
#footerlinks {
  width: auto;
}
body {
  padding: 0px;
  width: 100%;
}
* {
  min-width: unset;
  overflow-wrap: break-word;
}
*:not(textarea){
  white-space: normal;
}
#ctl00_ContentBody_HuntUserGridControl1_uxGrid * {
  margin: 0;
  padding: 0;
  width: auto;
  font-weight: normal;
  font-size: inherit;
}
select[id*="WMTweaks-inserted"]{
  margin-right: 1%;
}